<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="options" name="options" schema="schema/options.exsd"/>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="net.sf.orcc.ir.IrPackage"
            genModel="model/Ir.genmodel"
            uri="http://orcc.sf.net/ir/Ir">
      </package>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sf.orcc.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="net.sf.orcc.ir.impl.IrResourceFactoryImpl"
            type="ir">
      </parser>
   </extension>
   <extension
         point="net.sf.orcc.core.options">
      <option
            description="Qualified name of top XDF network"
            id="net.sf.orcc.core.xdfFile"
            name="XDF name">
         <selectNetwork>
         </selectNetwork>
      </option>
   </extension>
   <extension
         id="nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.sf.orcc.OrccProjectNature">
         </run>
      </runtime>
   </extension>

</plugin>
