<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="backends" name="backends" schema="schema/backends.exsd"/>
   <extension-point id="options" name="options" schema="schema/options.exsd"/>
   <extension-point id="simulators" name="simulators" schema="schema/simulators.exsd"/>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="net.sf.orcc.ir.IrPackage"
            genModel="model/Ir.genmodel"
            uri="platform:/resource/net.sf.orcc.core/model/Ir.ecore">
      </package>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sf.orcc.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
