# General ignore patterns
*.pyc
*.opb

#Common rules for Eclipse projects
# src-gen folders are ignored with a specific .gitignore inside each
bin
xtend-gen
.metadata

# Specific rules to ignore Xtext arifacts
plugin.xml_gen
.antlr-generator-3.2.0.jar

# Do not track CHANGELOG symlinks
**/CHANGES
**/CHANGELOG
**/CHANGES.md
**/CHANGELOG.md

# Update site specific patterns
eclipse/site/updates/*.jar
eclipse/site/updates/features/
eclipse/site/updates/plugins/
