# General ignore patterns
*.pyc
*.opb
.DS_Store

# User-specific files
*.user
*.sublime-project
*.sublime-workspace

# Common rules for Eclipse projects
# src-gen folders are ignored with a specific .gitignore inside each
bin
target
xtend-gen
src-gen
.metadata

# Specific rules to ignore Xtext arifacts
plugin.xml_gen
#.antlr-generator-*.jar
/eclipse/plugins/net.sf.orcc.cal/model/generated

# Do not track CHANGELOG symlinks
**/CHANGES
**/CHANGELOG
**/CHANGES.md
**/CHANGELOG.md

# Update site specific patterns
eclipse/site/updates/features/
eclipse/site/updates/plugins/
eclipse/site/.htaccess
