<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="Linux x86">
<locations>
<location path="${eclipse_home}/../eclipse-rcp-galileo-linux-gtk" type="Directory">
<includeBundles>
<plugin id="org.eclipse.core.contenttype"/>
<plugin id="org.eclipse.ui.ide.source"/>
<plugin id="org.eclipse.equinox.common.source"/>
<plugin id="org.eclipse.ui.views"/>
<plugin id="org.eclipse.core.resources.source"/>
<plugin id="org.eclipse.equinox.security.source"/>
<plugin id="org.eclipse.core.resources.compatibility.source"/>
<plugin id="org.eclipse.equinox.p2.repository.source"/>
<plugin id="org.eclipse.osgi.source"/>
<plugin id="org.eclipse.help"/>
<plugin id="org.eclipse.ui.workbench.source"/>
<plugin id="org.eclipse.ui.console"/>
<plugin id="org.eclipse.ui.console.source"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.eclipse.equinox.p2.metadata.source"/>
<plugin id="org.eclipse.equinox.app.source"/>
<plugin id="org.eclipse.core.runtime"/>
<plugin id="org.eclipse.ui.ide"/>
<plugin id="org.eclipse.core.databinding.property.source"/>
<plugin id="org.eclipse.equinox.registry.source"/>
<plugin id="org.eclipse.core.resources.compatibility"/>
<plugin id="org.eclipse.core.filesystem.linux.x86"/>
<plugin id="org.eclipse.ant.core.source"/>
<plugin id="org.eclipse.compare.core.source"/>
<plugin id="org.eclipse.core.databinding"/>
<plugin id="org.eclipse.help.source"/>
<plugin id="org.eclipse.jface.text"/>
<plugin id="org.eclipse.equinox.p2.repository"/>
<plugin id="org.eclipse.compare.core"/>
<plugin id="org.eclipse.core.runtime.source"/>
<plugin id="org.eclipse.ui.editors.source"/>
<plugin id="org.eclipse.core.variables.source"/>
<plugin id="org.eclipse.equinox.preferences"/>
<plugin id="org.eclipse.equinox.common"/>
<plugin id="org.eclipse.equinox.p2.metadata"/>
<plugin id="org.eclipse.ecf.source"/>
<plugin id="org.eclipse.ant.core"/>
<plugin id="org.eclipse.core.variables"/>
<plugin id="org.eclipse.core.filesystem"/>
<plugin id="org.eclipse.ecf.identity.source"/>
<plugin id="org.eclipse.core.resources"/>
<plugin id="org.eclipse.ui.views.source"/>
<plugin id="org.eclipse.core.filebuffers.source"/>
<plugin id="org.eclipse.jface.source"/>
<plugin id="org.eclipse.ui"/>
<plugin id="org.eclipse.equinox.p2.engine.source"/>
<plugin id="org.eclipse.ui.workbench.texteditor"/>
<plugin id="org.eclipse.equinox.p2.jarprocessor.source"/>
<plugin id="org.eclipse.core.filesystem.source"/>
<plugin id="org.eclipse.osgi.services.source"/>
<plugin id="org.eclipse.ecf.ssl.source"/>
<plugin id="org.eclipse.ecf.filetransfer.source"/>
<plugin id="org.eclipse.core.databinding.observable.source"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository.source"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry.source"/>
<plugin id="org.eclipse.text"/>
<plugin id="org.eclipse.ecf.ssl"/>
<plugin id="org.eclipse.ui.workbench.texteditor.source"/>
<plugin id="javax.servlet"/>
<plugin id="org.eclipse.ui.editors"/>
<plugin id="org.eclipse.ecf.filetransfer"/>
<plugin id="org.eclipse.ui.forms"/>
<plugin id="org.eclipse.equinox.p2.jarprocessor"/>
<plugin id="org.eclipse.equinox.concurrent"/>
<plugin id="org.eclipse.ui.forms.source"/>
<plugin id="org.eclipse.debug.core.source"/>
<plugin id="org.eclipse.core.jobs.source"/>
<plugin id="org.eclipse.core.databinding.observable"/>
<plugin id="com.ibm.icu.source"/>
<plugin id="org.eclipse.swt.gtk.linux.x86.source"/>
<plugin id="org.eclipse.jface.text.source"/>
<plugin id="org.eclipse.core.databinding.property"/>
<plugin id="org.eclipse.text.source"/>
<plugin id="org.eclipse.core.expressions"/>
<plugin id="org.eclipse.equinox.preferences.source"/>
<plugin id="org.eclipse.jface.databinding"/>
<plugin id="org.eclipse.ecf.identity"/>
<plugin id="org.eclipse.debug.core"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry"/>
<plugin id="org.eclipse.equinox.app"/>
<plugin id="org.eclipse.jface.databinding.source"/>
<plugin id="org.eclipse.core.jobs"/>
<plugin id="org.eclipse.debug.ui"/>
<plugin id="org.eclipse.ui.source"/>
<plugin id="org.eclipse.equinox.p2.core.source"/>
<plugin id="org.eclipse.swt"/>
<plugin id="org.eclipse.debug.ui.source"/>
<plugin id="javax.servlet.source"/>
<plugin id="org.eclipse.equinox.p2.artifact.repository"/>
<plugin id="org.eclipse.core.filebuffers"/>
<plugin id="org.eclipse.equinox.p2.engine"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository"/>
<plugin id="org.eclipse.equinox.p2.core"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth.source"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth"/>
<plugin id="com.ibm.icu"/>
<plugin id="org.eclipse.ui.workbench"/>
<plugin id="org.eclipse.core.expressions.source"/>
<plugin id="org.eclipse.jface"/>
<plugin id="org.eclipse.ecf"/>
<plugin id="org.eclipse.core.contenttype.source"/>
<plugin id="org.eclipse.core.commands.source"/>
<plugin id="org.eclipse.equinox.registry"/>
<plugin id="org.eclipse.core.commands"/>
<plugin id="org.eclipse.core.databinding.source"/>
<plugin id="org.eclipse.swt.gtk.linux.x86"/>
<plugin id="org.eclipse.equinox.security"/>
<plugin id="org.eclipse.equinox.p2.artifact.repository.source"/>
<plugin id="org.eclipse.osgi.services"/>
</includeBundles>
</location>
</locations>
<environment>
<os>linux</os>
<ws>gtk</ws>
<arch>x86</arch>
</environment>
</target>
