<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.orcc.plugin.backend">
      <backend
            class="net.sf.orcc.backends.c.CBackendImpl"
            name="C">
      </backend>
      <backend
               class="net.sf.orcc.backends.cpp.CppBackendImpl"
               name="Cpp">
      </backend>
   <backend
        class="net.sf.orcc.backends.java.JavaBackendImpl"
        name="Java">
  </backend>
      <backend
            class="net.sf.orcc.backends.java.debug.JavaDebugBackendImpl"
            name="Java *debug*">
      </backend>
		<backend class="net.sf.orcc.backends.llvm.LLVMBackendImpl" name="LLVM"/>
      <backend
            class="net.sf.orcc.backends.xlim.XlimBackendImpl"
            name="XLIM (TODO)">
      </backend>
   </extension>

</plugin>
