<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension
       point="net.sf.orcc.plugin.backend">
    <backend
          class="net.sf.orcc.backends.c.CBackendImpl"
          name="C">
       <option>
          <browseFile
                caption="Input file:"
                defaultValue=""
                extension="xdf"
                name="INPUT_FILE"
                required="true">
          </browseFile>
       </option>
    </backend>
    <backend
          class="net.sf.orcc.backends.c.quasistatic.CQuasiStaticBackendImpl"
          name="C *quasi-static*">
       <option>
          <browseFile
                caption="Input file:"
                defaultValue=""
                extension="xdf"
                name="INPUT_FILE"
                required="true">
          </browseFile>
       </option>
    </backend>
    <backend
          class="net.sf.orcc.backends.java.JavaBackendImpl"
          name="Java">
       <option>
          <browseFile
                caption="Input file:"
                defaultValue=""
                extension="xdf"
                name="INPUT_FILE"
                required="true">
          </browseFile>
       </option>
    </backend>
    <backend
          class="net.sf.orcc.backends.cpp.CppBackendImpl"
          name="C++">
       <option>
          <browseFile
                caption="Input file:"
                defaultValue=""
                extension="xdf"
                name="INPUT_FILE"
                required="true">
          </browseFile>
       </option>
    </backend>
    <backend
          class="net.sf.orcc.backends.llvm.LLVMBackendImpl"
          name="LLVM">
       <option>
          <browseFile
                caption="Input file:"
                defaultValue=""
                extension="xdf"
                name="INPUT_FILE"
                required="true">
          </browseFile>
       </option>
    </backend>
    <backend
          class="net.sf.orcc.backends.vhdl.VHDLBackendImpl"
          name="VHDL">
       <option>
          <browseFile
                caption="Input file:"
                defaultValue=""
                extension="xdf"
                name="INPUT_FILE"
                required="true">
          </browseFile>
       </option>
    </backend>
    <backend
          class="net.sf.orcc.backends.xlim.XlimBackendImpl"
          name="XLIM">
       <option>
          <browseFile
                caption="Input file:"
                defaultValue=""
                extension="xdf"
                name="INPUT_FILE"
                required="true">
          </browseFile>
       </option>
    </backend>
 </extension>
</plugin>
