<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="net.sf.orcc.ui.launching.OrccRunLaunchDelegate"
            id="net.sf.orcc.runLaunchConfigurationType"
            modes="run"
            name="Orcc compilation"
            public="true">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="net.sf.orcc.ui.launching.OrccSimuLaunchDelegate"
            id="net.sf.orcc.simuLaunchConfigurationType"
            modes="debug, run"
            name="Orcc simulation"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="net.sf.orcc.ui.launching.OrccRunLaunchShortcut"
            icon="icons/orcc.png"
            id="net.sf.orcc.runLaunchShortcut"
            label="Orcc compilation"
            modes="run">
         <configurationType
               id="net.sf.orcc.runLaunchConfigurationType">
         </configurationType>
         <description
               description="Compiles a dataflow program with Orcc"
               mode="run">
         </description>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="net.sf.orcc.isVTL">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="net.sf.orcc.isXDF">
                        </test>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="net.sf.orcc.ui.launching.OrccSimuLaunchShortcut"
            icon="icons/orcc.png"
            id="net.sf.orcc.simuLaunchShortcut"
            label="Orcc simulation"
            modes="run">
         <configurationType
               id="net.sf.orcc.simuLaunchConfigurationType">
         </configurationType>
         <description
               description="Simulates a dataflow program with Orcc"
               mode="debug, run">
         </description>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="net.sf.orcc.isXDF">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="net.sf.orcc.ui.launching.OrccRunLaunchConfigurationTabGroup"
            description="Compiles a dataflow program with Orcc."
            id="net.sf.orcc.runLaunchConfigurationTabGroup"
            type="net.sf.orcc.runLaunchConfigurationType">
         <launchMode
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="net.sf.orcc.ui.launching.OrccSimuLaunchConfigurationTabGroup"
            description="Simulates a dataflow program with Orcc."
            id="net.sf.orcc.simuLaunchConfigurationTabGroup"
            type="net.sf.orcc.simuLaunchConfigurationType">
         <launchMode
               mode="run">
         </launchMode>
         <launchMode
               mode="debug">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="net.sf.orcc.runLaunchConfigurationType"
            icon="icons/orcc.png"
            id="net.sf.orcc.runLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="net.sf.orcc.simuLaunchConfigurationType"
            icon="icons/orcc.png"
            id="orcc plugin.simuLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/orcc.png"
            id="net.sf.orcc.ui.OrccNatureImage"
            natureId="net.sf.orcc.core.nature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.sf.orcc.ui.OrccCategory"
            name="Orcc">
      </category>
      <wizard
            canFinishEarly="false"
            category="net.sf.orcc.ui.OrccCategory"
            class="net.sf.orcc.ui.OrccProjectWizard"
            hasPages="true"
            icon="icons/orcc.png"
            id="net.sf.orcc.ui.newOrccProject"
            name="Orcc Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sf.orcc.ui.preferences.OrccPreferencePage"
            id="net.sf.orcc.ui.preferences.OrccPreferencePage"
            name="Orcc">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="net.sf.orcc.graphiti.ui.properties.contributor">
         <propertyTab
               category="net.sf.orcc.graphiti.ui.properties.category.vertex"
               id="net.sf.orcc.ui.properties.tab.vertex.parameters"
               label="Instance parameters">
         </propertyTab>
         <propertyTab
               category="net.sf.orcc.graphiti.ui.properties.category.graph"
               id="net.sf.orcc.ui.properties.tab.graph.parameters"
               label="Network parameters">
         </propertyTab>
         <propertyTab
               category="net.sf.orcc.graphiti.ui.properties.category.graph"
               id="net.sf.orcc.ui.properties.tab.graph.variables"
               label="Network variable declarations">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="net.sf.orcc.graphiti.ui.properties.contributor">
         <propertySection
               class="net.sf.orcc.ui.properties.VertexParametersMapSection"
               filter="net.sf.orcc.ui.properties.OrccVertexFilter"
               id="net.sf.orcc.ui.properties.section.vertex.parameters"
               tab="net.sf.orcc.ui.properties.tab.vertex.parameters">
         </propertySection>
         <propertySection
               class="net.sf.orcc.ui.properties.GraphParametersListSection"
               filter="net.sf.orcc.ui.properties.OrccGraphFilter"
               id="net.sf.orcc.ui.properties.section.graph.parameters"
               tab="net.sf.orcc.ui.properties.tab.graph.parameters">
         </propertySection>
         <propertySection
               class="net.sf.orcc.ui.properties.GraphVariablesMapSection"
               filter="net.sf.orcc.ui.properties.OrccGraphFilter"
               id="net.sf.orcc.ui.properties.section.graph.variables"
               tab="net.sf.orcc.ui.properties.tab.graph.variables">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="net.sf.orcc.ui.refactoring.NetworkRenameParticipant"
            id="net.sf.orcc.ui.networkRenameParticipant"
            name="Network rename participant">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IFile">
               <test
                     property="org.eclipse.core.resources.extension"
                     value="xdf">
               </test>
            </adapt>
         </enablement>
      </renameParticipant>
      <renameParticipant
            class="net.sf.orcc.ui.refactoring.DiagramRenameParticpant"
            id="net.sf.orcc.ui.diagramRenameParticipant"
            name="Diagram rename participant">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IFile">
               <test
                     property="org.eclipse.core.resources.extension"
                     value="xdfdiag">
               </test>
            </adapt>
         </enablement>
      </renameParticipant>
      <renameParticipant
            class="net.sf.orcc.ui.refactoring.CalRenameParticipant"
            id="net.sf.orcc.ui.calRenameParticipant"
            name="Cal rename participant">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IFile">
               <test
                     property="org.eclipse.core.resources.extension"
                     value="cal">
               </test>
            </adapt>
         </enablement>
      </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="net.sf.orcc.ui.refactoring.NetworkMoveParticipant"
            id="net.sf.orcc.ui.networkMoveParticipant"
            name="Network move participant">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IFile">
               <test
                     property="org.eclipse.core.resources.extension"
                     value="xdf">
               </test>
            </adapt>
         </enablement>
      </moveParticipant>
      <moveParticipant
            class="net.sf.orcc.ui.refactoring.CalMoveParticipant"
            id="net.sf.orcc.ui.calMoveParticipant"
            name="Cal move participant">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IFile">
               <test
                     property="org.eclipse.core.resources.extension"
                     value="cal">
               </test>
            </adapt>
         </enablement>
      </moveParticipant>
      <moveParticipant
            class="net.sf.orcc.ui.refactoring.DiagramMoveParticipant"
            id="net.sf.orcc.ui.diagramMoveParticipant"
            name="Diagram move participant">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IFile">
               <test
                     property="org.eclipse.core.resources.extension"
                     value="xdfdiag">
               </test>
            </adapt></enablement>
      </moveParticipant>
   </extension>
</plugin>
