<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="backends" name="backends" schema="schema/backends.exsd"/>
   <extension
         point="net.sf.orcc.backends.backends">
      <backend
            class="net.sf.orcc.backends.c.CBackendImpl"
            name="C">
         <option
               id="net.sf.orcc.plugins.compileXDF">
         </option>
         <option
               id="net.sf.orcc.backends.classify">
         </option>
         <option
               id="net.sf.orcc.backends.normalize">
         </option>
         <option
               id="net.sf.orcc.backends.newScheduler">
         </option>
         <option
               id="net.sf.orcc.backends.geneticAlgorithm">
         </option>
         <option
               id="net.sf.orcc.backends.enableTrace">
         </option>
      </backend>
      <backend
            class="net.sf.orcc.backends.java.JavaBackendImpl"
            name="Java">
         <option
               id="net.sf.orcc.plugins.compileXDF">
         </option>
      </backend>
      <backend
            class="net.sf.orcc.backends.cpp.CppBackendImpl"
            name="C++">
         <option
               id="net.sf.orcc.plugins.compileXDF">
         </option>
         <option
               id="net.sf.orcc.backends.classify">
         </option>
         <option
               id="net.sf.orcc.backends.normalize">
         </option>
      </backend>
      <backend
            class="net.sf.orcc.backends.llvm.LLVMBackendImpl"
            name="LLVM">
         <option
               id="net.sf.orcc.backends.llvmMode">
         </option>
         <option
               id="net.sf.orcc.backends.optLevel">
         </option>
         <option
               id="net.sf.orcc.plugins.compileXDF">
         </option>
         <option
               id="net.sf.orcc.backends.classify">
         </option>
      </backend>
      <backend
            class="net.sf.orcc.backends.vhdl.VHDLBackendImpl"
            name="VHDL">
         <option
               id="net.sf.orcc.plugins.compileXDF">
         </option>
      </backend>
      <backend
            class="net.sf.orcc.backends.xlim.XlimBackendImpl"
            name="XLIM">
         <option
               id="net.sf.orcc.plugins.compileXDF">
         </option>
         <option
               id="net.sf.orcc.backends.xlimHard">
         </option>
         <option
               id="net.sf.orcc.backends.multi2mono">
         </option>
      </backend>
      <backend
            class="net.sf.orcc.backends.tta.TTABackendImpl"
            name="TTA">
         <option
               id="net.sf.orcc.plugins.compileXDF">
         </option>
      </backend>
      <backend
            class="net.sf.orcc.backends.promela.PromelaBackendImpl"
            name="PROMELA">
         <option
               id="net.sf.orcc.plugins.compileXDF">
         </option>
      </backend>
   </extension>
   <extension
         point="net.sf.orcc.core.options">
		 <option
               defaultValue="false"
               id="net.sf.orcc.backends.partition"
               description="This option enables to generate multithreaded code based on instance attributes"
               name="Generate multithreaded code">
            <checkBox/>
         </option>
         <option
               defaultValue="false"
               id="net.sf.orcc.backends.classify"
               description="This option enables optimizations such as transformation to higher-level and actor merging"
               name="Classify actors">
            <checkBox>
               <option
                     defaultValue="false"
                     description="When activated, static actors will be merged together"
                     id="net.sf.orcc.backends.merge"
                     name="Merge static actors together">
                  <checkBox></checkBox>
               </option>
            </checkBox>
         </option>
         <option
               defaultValue="false"
               description="Uses an experimental scheduler instead of using the default round-robin scheduler"
               id="net.sf.orcc.backends.newScheduler"
               name="Use a smarter scheduler">
            <checkBox>
	            <option
	               defaultValue="Ring"
	               description="Select a communication topology between actor schedulers"
	               id="net.sf.orcc.backends.newScheduler.topology"
	               name="Communication topology between actor schedulers:">
	            <comboBox>
	               <comboBoxItem
	                     id="Ring">
	               </comboBoxItem>
	               <comboBoxItem
	                     id="Mesh">
	               </comboBoxItem>
            	</comboBox>
         		</option>
            </checkBox>
         </option>
         <option
               defaultValue="false"
               description="Uses an experimental genetic algorithm to search efficient mappings of the actors on the processor cores"
               id="net.sf.orcc.backends.geneticAlgorithm"
               name="Search efficient mappings (Only on linux)">
            <checkBox>
            	<option
	               		defaultValue="1"
	               		description="Specify the number of CPU cores to use for the mapping"
	               		id="net.sf.orcc.backends.processorsNumber"
	               		name="Number of CPU cores">
            		<textBox></textBox>
         		</option>
            </checkBox>
         </option>
         <option
               description="Whether Orcc should compile the given hierarchical XDF network"
               id="net.sf.orcc.plugins.compileXDF"
               name="Compile XDF Network">
            <checkBox>
               <optionRef
                     id="net.sf.orcc.core.xdfFile">
               </optionRef>
            </checkBox>
         </option>
         <option
               defaultValue="false"
               description="Enable traces in fifo"
               id="net.sf.orcc.backends.enableTrace"
               name="Enable trace">
            <checkBox>
            </checkBox>
         </option>
         <option
               defaultValue="false"
               description="XLIM Code Generation for Hardware Implementation"
               id="net.sf.orcc.backends.xlimHard"
               name="Hardware XLIM Code Generation">
            <checkBox>
               <option
                     defaultValue="xc2vp30-7-ff1152"
                     description="XLIM Select FPGA Family Type"
                     id="net.sf.orcc.backends.xlimFpgaType"
                     name="FPGA Type">
                  <textBox></textBox>
               </option></checkBox>
         </option>
         <option
               defaultValue="false"
               description="Transform the actions with multi-tokens access to mono-token ones"
               id="net.sf.orcc.backends.multi2mono"
               name="Multi-tokens to mono-token transformation">
            <checkBox></checkBox>
         </option>
         <option
               defaultValue="Assembly"
               description="Select a representation for the VTL"
               id="net.sf.orcc.backends.llvmMode"
               name="Generation mode:">
            <comboBox>
               <comboBoxItem
                     id="Assembly">
               </comboBoxItem>
               <comboBoxItem
                     id="Bitcode">
               </comboBoxItem>
               <comboBoxItem
                     id="Archive">
               </comboBoxItem>
            </comboBox>
         </option>
         <option
               defaultValue="O0"
               description="Set level of optimization"
               id="net.sf.orcc.backends.optLevel"
               name="Optimization level:">
            <comboBox>
               <comboBoxItem
                     id="O0">
               </comboBoxItem>
               <comboBoxItem
                     id="O1">
               </comboBoxItem>
               <comboBoxItem
                     id="O2">
               </comboBoxItem>
               <comboBoxItem
                     id="O3">
               </comboBoxItem>
            </comboBox>
         </option>
         <option
               defaultValue="false"
               id="net.sf.orcc.backends.coDesign"
               name="Co-Design">
            <checkBox></checkBox>
         </option>
         <option
               defaultValue="false"
               description="Transform actors to higher-level"
               id="net.sf.orcc.backends.normalize"
               name="Transform actors to higher-level">
            <checkBox></checkBox>
         </option>
         <option
               defaultValue="false"
               description="When activated, static actors will be merged together"
               id="net.sf.orcc.backends.merger2"
               name="New version of merger">
            <checkBox></checkBox>
         </option>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="net.sf.orcc.backends.instructions.InstructionsPackage"
            genModel="model/Instructions.genmodel"
            uri="platform:/resource/net.sf.orcc.backends/model/Instructions.ecore">
      </package>
   </extension>
   <extension
         id="c"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.sf.orcc.backends.c.CBackendImpl">
         </run>
      </application>
   </extension>
   <extension
         id="vhdl"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.sf.orcc.backends.vhdl.VHDLBackendImpl">
         </run>
      </application>
   </extension>
   <extension
         id="xlim"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.sf.orcc.backends.xlim.XlimBackendImpl">
         </run>
      </application>
   </extension>

</plugin>
