<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.orcc.core.backends">
      <backend
            class="net.sf.orcc.backends.c.CBackendImpl"
            name="C">
         <option
               id="net.sf.orcc.plugins.compileXDF">
         </option>
         <option
               id="net.sf.orcc.backends.classify">
         </option>
         <option
               id="net.sf.orcc.backends.newScheduler">
         </option>
         <option
               id="net.sf.orcc.backends.enableTrace">
         </option>
      </backend>
      <backend
            class="net.sf.orcc.backends.java.JavaBackendImpl"
            name="Java">
         <option
               id="net.sf.orcc.plugins.compileXDF">
         </option>
      </backend>
      <backend
            class="net.sf.orcc.backends.cpp.CppBackendImpl"
            name="C++">
         <option
               id="net.sf.orcc.plugins.compileXDF">
         </option>
         <option
               id="net.sf.orcc.backends.classify">
         </option>
         <option
               id="net.sf.orcc.backends.partition">
         </option>
      </backend>
      <backend
            class="net.sf.orcc.backends.llvm.LLVMBackendImpl"
            name="LLVM">
         <option
               id="net.sf.orcc.plugins.compileXDF">
         </option>
         <option
               id="net.sf.orcc.backends.classify">
         </option>
         <option
               id="net.sf.orcc.backends.llvmBitcode">
         </option>
      </backend>
      <backend
            class="net.sf.orcc.backends.vhdl.VHDLBackendImpl"
            name="VHDL">
         <option
               id="net.sf.orcc.plugins.compileXDF">
         </option>
      </backend>
      <backend
            class="net.sf.orcc.backends.xlim.XlimBackendImpl"
            name="XLIM">
         <option
               id="net.sf.orcc.plugins.compileXDF">
         </option>
         <option
               id="net.sf.orcc.backends.xlimHard">
         </option>
      </backend>
   </extension>
   <extension
         point="net.sf.orcc.core.options">
         <option
               defaultValue="false"
               description="Whether we should generate .ll or .bc files"
               id="net.sf.orcc.backends.llvmBitcode"
               name="Generate bitcode">
            <checkBox>
               <option
                     description="Location of llvm-as"
                     id="net.sf.orcc.backends.llvm-as"
                     name="Location of llvm-as">
                  <browseFile
                        workspace="false">
                  </browseFile>
               </option>
            </checkBox>
         </option>
		 <option
               defaultValue="false"
               id="net.sf.orcc.backends.partition"
               description="This option enables to generate multithreaded code based on instance attributes"
               name="Generate multithreaded code">
            <checkBox/>
         </option>
         <option
               defaultValue="false"
               id="net.sf.orcc.backends.classify"
               description="This option enables optimizations such as transformation to higher-level and actor merging"
               name="Classify actors">
            <checkBox>
               <option
                     defaultValue="false"
                     id="net.sf.orcc.backends.normalize"
                     description="Transform actors to higher-level"
                     name="Transform actors to higher-level">
                  <checkBox></checkBox>
               </option>
               <option
                     defaultValue="false"
                     description="When activated, static actors will be merged together"
                     id="net.sf.orcc.backends.merge"
                     name="Merge static actors together">
                  <checkBox></checkBox>
               </option>
            </checkBox>
         </option>
         <option
               defaultValue="false"
               description="Uses an experimental scheduler instead of using the default round-robin scheduler"
               id="net.sf.orcc.backends.newScheduler"
               name="Use the experimental scheduler">
            <checkBox></checkBox>
         </option>
         <option
               description="Whether Orcc should compile the given hierarchical XDF network"
               id="net.sf.orcc.plugins.compileXDF"
               name="Compile XDF Network">
            <checkBox>
               <option
                     description="Specify the top-level file to compile"
                     id="net.sf.orcc.plugins.xdfFile"
                     name="XDF file">
                  <browseFile
                        extension="xdf"
                        folder="false"
                        workspace="true">
                  </browseFile>
               </option>
            </checkBox>
         </option>
         <option
               defaultValue="false"
               description="Enable traces in fifo"
               id="net.sf.orcc.backends.enableTrace"
               name="Enable trace">
            <checkBox>
            </checkBox>
         </option>
         <option
               defaultValue="false"
               description="XLIM Code Generation for Hardware Implementation"
               id="net.sf.orcc.backends.xlimHard"
               name="Hardware XLIM Code Generation">
            <checkBox></checkBox>
         </option>
   </extension>

</plugin>
