<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
  <extension
        id="cli"
        point="org.eclipse.core.runtime.applications">
     <application
           cardinality="singleton-global"
           thread="main"
           visible="true">
        <run
              class="net.sf.orcc.frontend.FrontendCli">
        </run>
     </application>
  </extension>
  <extension
        id="workspaceSetup"
        point="org.eclipse.core.runtime.applications">
     <application
           cardinality="singleton-global"
           thread="main"
           visible="true">
        <run
              class="net.sf.orcc.cal.util.WorkspaceCreator">
        </run>
     </application>
  </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Cal -->
      <package
            uri="http://orcc.sf.net/cal/Cal"
            class="net.sf.orcc.cal.cal.CalPackage"
            genModel="model/custom/Cal.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Cache -->
      <package
            uri="http://orcc.sf.net/cache"
            class="net.sf.orcc.cache.CachePackage"
            genModel="model/Cache.genmodel"/>
   </extension>

</plugin>
