<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.orcc.core.backends">
      <backend
            class="net.sf.orcc.backends.c.CBackendImpl"
            name="C">
         <option
               id="net.sf.orcc.backends.xdfInputFile">
         </option>
         <option
               id="net.sf.orcc.backends.classify">
         </option>
      </backend>
      <backend
            class="net.sf.orcc.backends.c.quasistatic.CQuasiStaticBackendImpl"
            name="C *quasi-static*">
         <option
               id="net.sf.orcc.backends.xdfInputFile">
         </option>
      </backend>
      <backend
            class="net.sf.orcc.backends.java.JavaBackendImpl"
            name="Java">
         <option
               id="net.sf.orcc.backends.xdfInputFile">
         </option>
      </backend>
      <backend
            class="net.sf.orcc.backends.cpp.CppBackendImpl"
            name="C++">
         <option
               id="net.sf.orcc.backends.xdfInputFile">
         </option>
      </backend>
      <backend
            class="net.sf.orcc.backends.llvm.LLVMBackendImpl"
            name="LLVM">
         <option
               id="net.sf.orcc.backends.xdfInputFile">
         </option>
         <option
               id="net.sf.orcc.backends.llvmBitcode">
         </option>
      </backend>
      <backend
            class="net.sf.orcc.backends.vhdl.VHDLBackendImpl"
            name="VHDL">
         <option
               id="net.sf.orcc.backends.xdfInputFile">
         </option>
      </backend>
      <backend
            class="net.sf.orcc.backends.xlim.XlimBackendImpl"
            name="XLIM">
         <option
               id="net.sf.orcc.backends.xdfInputFile">
         </option>
      </backend>
   </extension>
   <extension
         point="net.sf.orcc.core.options">
      <option
            description="Specify the top-level file to compile"
            id="net.sf.orcc.backends.xdfInputFile"
            name="Input file">
         <browseFile
               extension="xdf"
               workspace="true">
         </browseFile>
      </option>
      
         <option
               defaultValue="false"
               description="Whether we should generate .ll or .bc files"
               id="net.sf.orcc.backends.llvmBitcode"
               name="Generate bitcode">
            <checkBox>
               <option
                     description="Location of llvm-as"
                     id="net.sf.orcc.backends.llvm-as"
                     name="Location of llvm-as">
                  <browseFile
                        workspace="false">
                  </browseFile>
               </option>
            </checkBox>
         </option>
         <option
               defaultValue="false"
               id="net.sf.orcc.backends.classify"
               description="Whether actors should be classified"
               name="Classify actors">
            <checkBox>
               <option
                     defaultValue="true"
                     description="Classify actors independently of their neighbours"
                     id="net.sf.orcc.backends.classifyIntra"
                     name="intra">
                  <checkBox></checkBox>
               </option>
               <option
                     defaultValue="false"
                     description="&lt;Description of groquier&apos;s classification method&gt;"
                     id="net.sf.orcc.backends.classifyGroquier"
                     name="groquier">
                  <checkBox></checkBox>
               </option>
            </checkBox>
         </option>
   </extension>

</plugin>
