<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            name="XDF Network"
            type="xdf2"
            id="net.sf.orcc.xdf.ui.XdfDiagramType">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            name="Orcc Diagram Type Provider"
            class="net.sf.orcc.xdf.ui.diagram.OrccDiagramTypeProvider"
            id="net.sf.orcc.xdf.ui.diagram.OrccDiagramTypeProvider">
         <diagramType
               id="net.sf.orcc.xdf.ui.XdfDiagramType">
         </diagramType>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="net.sf.orcc.ui.OrccCategory"
            class="net.sf.orcc.xdf.ui.wizards.NewNetworkWizard"
            hasPages="true"
            icon="icons/network.gif"
            id="net.sf.orcc.ui.wizards.newNetworkWizard"
            name="XDF Network (Graphiti)"
            project="false">
         <description>
            Create a new network based on new Graphiti editor.
         </description>
      </wizard>
   </extension>
   <extension
      point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="net.sf.orcc.df.impl.XdfResourceFactoryImpl"
            type="xdf2">
      </parser>
   </extension>
</plugin>
