<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="simulators" name="simulators" schema="schema/simulators.exsd"/>
   <extension
         point="net.sf.orcc.core.options">
      <option
            defaultValue="false"
            description="Enable tracing feature of a simulator"
            id="net.sf.orcc.simulators.enableTraces"
            name="Enable Traces">
         <checkBox>
            <option
                  description="An other output folder for receiving simulator trace files"
                  id="net.sf.orcc.simulators.tracesFolder"
                  name="Traces folder">
               <browseFile
                     folder="true"
                     workspace="false">
               </browseFile>
            </option>
         </checkBox>
      </option>
      <option
            description="XDF description of the CAL actors network"
            id="net.sf.orcc.plugins.xdfFile"
            name="XDF file">
         <browseFile
               folder="false"
               workspace="true">
         </browseFile>
      </option>
      <option
            description="Input data to be pushed to the CAL network we want to simulate"
            id="net.sf.orcc.simulators.inputStimulus"
            name="Input stimulus">
         <browseFile
               folder="false"
               workspace="false">
         </browseFile>
      </option>
      <option
            description="Folder where the simulator can find FU from the VTL "
            id="net.sf.orcc.simulators.VTLFolder"
            name="VTL Folder">
         <browseFile
               folder="true"
               workspace="false">
         </browseFile>
      </option>
      <option
            defaultValue="false"
            description="Compare the generated decoder with the reference video"
            id="net.sf.orcc.simulators.enableComparison"
            name="Verify output">
         <checkBox>
            <option
                  description="Path of the reference video"
                  id="net.sf.orcc.simulators.compareFile"
                  name="Reference video">
               <browseFile
                     folder="false"
                     workspace="false">
               </browseFile>
            </option>
         </checkBox>
      </option>
      <option
            defaultValue="O3"
            description="Set level of optimization"
            id="net.sf.orcc.simulators.optLevel"
            name="Optimization level:">
         <comboBox>
            <comboBoxItem
                  id="O0">
            </comboBoxItem>
            <comboBoxItem
                  id="O1">
            </comboBoxItem>
            <comboBoxItem
                  id="O2">
            </comboBoxItem>
            <comboBoxItem
                  id="O3">
            </comboBoxItem>
         </comboBox>
      </option>
      <option
            defaultValue="Round-Robin"
            description="Select a model of execution for the given network"
            id="net.sf.orcc.simulators.scheduler"
            name="Select a scheduler:">
         <comboBox>
            <comboBoxItem
                  id="Round-Robin">
            </comboBoxItem>
            <comboBoxItem
                  id="Data-driven">
            </comboBoxItem>
         </comboBox>
      </option>
      <option
            defaultValue="true"
            description="Transform actors to higher-level"
            id="net.sf.orcc.simulators.normalize"
            name="Use normalized actors">
         <checkBox></checkBox>
      </option>
      <option
            defaultValue="true"
            description="When activated, static actors will be merged together"
            id="net.sf.orcc.simulators.merger2"
            name="Allow merging of actors">
         <checkBox></checkBox>
      </option>
   </extension>
   <extension
         point="net.sf.orcc.simulators.simulators">
      <simulator
            class="net.sf.orcc.simulators.SlowInterpreter"
            name="Visitor interpreter and debugger">
         <option
               id="net.sf.orcc.simulators.enableTraces">
         </option>
         <option
               id="net.sf.orcc.plugins.xdfFile">
         </option>
         <option
               id="net.sf.orcc.simulators.inputStimulus">
         </option>
      </simulator>
      <simulator
            class="net.sf.orcc.simulators.JadeSimulatorImpl"
            name="Jade">
         <option
               id="net.sf.orcc.simulators.enableTraces">
         </option>
         <option
               id="net.sf.orcc.plugins.xdfFile">
         </option>
         <option
               id="net.sf.orcc.simulators.inputStimulus">
         </option>
         <option
               id="net.sf.orcc.simulators.VTLFolder">
         </option>
         <option
               id="net.sf.orcc.simulators.enableComparison">
         </option>
         <option
               id="net.sf.orcc.simulators.scheduler">
         </option>
         <option
               id="net.sf.orcc.simulators.optLevel">
         </option>
         <option
               id="net.sf.orcc.simulators.normalize">
         </option>
         <option
               id="net.sf.orcc.simulators.merger2">
         </option>
      </simulator>
      <simulator
            class="net.sf.orcc.simulators.FastInterpreter"
            name="Fast interpreter">
         <option
               id="net.sf.orcc.plugins.xdfFile">
         </option>
      </simulator>
   </extension>
   <extension
		id="net.sf.orcc.debug.lineBreakpoint.marker"
		point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker"/>
		<persistent value="true"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ui.texteditor.ITextEditor"
            class="net.sf.orcc.debug.breakpoints.OrccBreakpointAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>
</plugin>
